.comment {
    color: rgb(155, 155, 155)
}

.regular-expression {
    color: rgb(252, 94, 94);
}

.regular-expression span {
    color: rgb(252, 94, 94);
}

.string {
    color: rgb(67, 189, 67);
}

.string span {
    color: rgb(67, 189, 67);
}

.preprocessor {
    color: rgb(255, 110, 58);
}

.preprocessor-name {
    color: rgb(230 71 71);
}

.comment span {
    color: rgb(155, 155, 155)
}

.function-name {
    color: rgb(232 222 105);
}

.declaration {
    color: rgb(119 119 220);
}

.keyword-set-1 {
    color: rgb(243, 120, 243);
}

.keyword-set-2 {
    color: rgb(188, 255, 100);
}

.keyword-set-3 {
    color: rgb(232 89 89);
}

.document-window {
    color: #0095ff;
}

.property {
    color: rgb(8 151 174);
}