.keyword-type1{
    color : rgb(216, 56, 216)
}
.keyword-type2{
    color: rgb(219, 64, 64);
}
.keyword-type3{
    color : rgb(95, 95, 197);
}
.keyword-type4{
    color: rgb(192, 192, 2);
}
.keyword-type5{
    color: rgb(255, 140, 74);
}
.root-obj{
    color: rgb(71, 172, 255);
}
.comment *{
    color :rgb(155, 155, 155)
}