/* Beautify */
.chroma-alpha{
    color : #ec8038;
}
/* string */
.chroma-bravo{
    color : #56d456;
}
/* comment */
.chroma-charlie{
    color : #6d6d6d;
}
.chroma-delta{
    color : #9595f5;
}
.chroma-echo{
    color : #3fc7d0; 
}
.chroma-lima{
    color :#ed6464;
}
.chroma-oscar{
    color : #cb3cdc;
}
.chroma-romeo{
    color : #ef2626;
}
.chroma-tango{
    color : ;
}
.chroma-victor{
    color : #d8c029;
}
.chroma-zeus{
    color : gray;
}