.doc-type{
    color :rgb(166 10 10);
}
.start-tag, .close-tag{
    color : rgb(228, 148, 1);
}
.start-tag-name, .close-tag-name{
    color: rgb(141, 141, 219);
}
.attribute-name{
    color : rgb(228, 85, 85);
}
.string{
    color : rgb(52, 165, 52);
}
.comment{
    color :rgb(190, 190, 190);
}
.comment .start-tag, .comment .close-tag, .comment .attribute-name, .comment .string, .comment .start-tag-name, .comment .close-tag-name{
    color :rgb(190, 190, 190);
}