.comment{
    color: rgb(153, 153, 153);
}
.quotes{
    color : #4ebe4e;
}
.red-keywords{
    color :rgb(255 78 78);
}
.data-types{
    color: rgb(137 137 255);
}
.properties{
    color: rgb(8, 131, 131);
}
.quotes .red-keywords{
    color : #4ebe4e;
}
.comment .quotes, .comment .red-keywords, .comment .data-types, .comment .properties{
    color : rgb(153, 153, 153);
}
.string{
    color: rgb(67, 189, 67);
}