.comment {
    color: rgb(153, 153, 153);
}

.property-name {
    color: rgb(157 171 242);
}

.period {
    color: yellow;
}

.property-value {
    color: #afbb6b;
}

.universal-selector {
    color: #e9ff86;
}

.media {
    color: rgb(252, 255, 89);
}

.constant-numeric {
    color: yellow;
}

.webkit {
    color: chartreuse;
}

.hex-color {
    color: rgb(188 146 255);
}

.class,
.tag-name {
    color: rgb(255, 103, 103);
}

.id {
    color: rgb(158, 255, 174);
}

.string {
    color: rgb(67, 189, 67);
}

.numeric-constant {
    color: rgb(144 250 255);
}

.rgba,
.rgb {
    color: #eea0f0;
}

.class span {
    color: rgb(255, 103, 103);
}

.class span {
    color: rgb(255, 103, 103);
}

.id span {
    color: rgb(158, 255, 174);
}

.tag-name span {
    color: rgb(255, 103, 103);
}

.string span {
    color: rgb(67, 189, 67);
}

.comment span {
    color: rgb(153, 153, 153);
}

.hex-color span {
    color: rgb(188 146 255);
}