
.chroma{
    background: #002240;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    border: 0.5px solid rgba(0,0,0,0.5);
    margin: 10px 0px;
}
.chroma-flex-row{
    display: flex;
    flex-direction: row;
}
.chroma-flex-col{
    display: flex;
    flex-direction: column;
}
.chroma-head{
    padding-bottom: 10px;
    border-bottom: 0.5px solid rgba(255,255,255,0.4);
    background: #021b31;
    color: white;
    padding-top: 10px;
    padding: 10px;
    align-items: center;
}
.chroma-copy{
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
}
.chroma-beautify{
    overflow: auto;
    max-height: 500px;
    padding: 10px;
    /* border: 0.5px solid rgba(0,0,0,0.5);
    border-top: none; */
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.chroma-no-header{
    border-radius: 3px;
}
.chroma-copy-msg{
    position: absolute;
    padding: 15px 25px;
    left : 15px;
    bottom: 15px;
    position: fixed;
    border-radius: 5px;
    z-index: 1000;
    color: white;
    background: rgba(0,0,0,0.9);
}
.chroma-sb{
    display: flex;
    justify-content: space-between;
}

.chroma-line-no{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.chroma-line-no span{
    display: flex;
    justify-content: flex-end;
}

/* preloader */
.chroma-preloader div{
    display: flex;
    align-items: center;
}
.chroma-preloader div div{
    width: 25px;
    height: 25px;
    border-radius: 10%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.chroma-preloader div div:nth-child(1){
    background: #15159e;
    transition: 300ms;
}
.chroma-preloader div div:nth-child(2){
    width: 27px;
    height: 27px;
    background: rgb(204 8 122);
    transition: 700ms;
}
.chroma-preloader div div:nth-child(3){
    width: 29px;
    height: 29px;
    background: rgb(21 134 6);
    transition: 1100ms;
}
.chroma-preloader div div:nth-child(4){
    width: 31px;
    height: 31px;
    background: rgb(189 79 6);
    transition: 1500ms;
}
.chroma-preloader div div:nth-child(5){
    width: 29px;
    height: 29px;
    background: rgb(89, 0, 255);
    transition: 1800ms;
}
.chroma-preloader div div:nth-child(6){
    width: 27px;
    height: 27px;
    background: rgb(255, 0, 76);
    transition: 2100ms;
}
.chroma-preloader div div:nth-child(7){
    width: 25px;
    height: 25px;
    background: #03a4c1;
    transition: 2500ms;
}
