
.chroma{
    background: #002240;
    color: white;
}
.chroma-head{
    background: #021b31;
    color: white;
}
.chroma-line-no {
    background: #002240;
    color : #FFEE80;
}
.chroma-inline{
    background: #002240;
    color: #FFEE80;
}
/* Beautify */

.chroma-alpha{
    color : #FF9D00;
    
}

/* string */
.chroma-bravo{
    color : #3AD900;
    
}

/* comment */
.chroma-charlie{
    color : #0088FF;
    
}
.chroma-delta{
    color : #FFEE80;
    
}
.chroma-echo{
    color : #FF628C; 
    
}
.chroma-lima{
    color : #FFEE80;
    
}
.chroma-oscar{
    color : #21c0bb;
    
}
.chroma-romeo{
    color : #d778ff;
    
}
.chroma-tango{
    color : #f95656;
    
}
.chroma-victor{
    color : #ffffff;
    
}
.chroma-zeus{
    color : gray;
    
}
