.chroma{
    background: #2f1300;
    border-radius: 3px;
    color: white;
    margin : 10px;
    font-size: 16px;
}
.chroma-flex-row{
    display: flex;
    flex-direction: row;
}
.chroma-flex-col{
    display: flex;
    flex-direction: column;
}
.chroma-head{
    padding-bottom: 10px;
    border-bottom: 0.5px solid rgba(255,255,255,0.4);
    background: #5c2a08;
    color: white;
    padding-top: 10px;
    padding: 10px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    align-items: center;
}
.chroma-copy{
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
}
.chroma-beautify{
    overflow: auto;
    max-height: 500px;
    padding: 10px;
}
.chroma-copy-msg{
    position: absolute;
    padding: 15px 25px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    border-radius: 5px;
    z-index: 1000;
    color: white;
    background: rgba(0,0,0,0.8);
}
.chroma-sb{
    display: flex;
    justify-content: space-between;
}

.chroma-line-no{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.chroma-line-no span{
    display: flex;
    justify-content: flex-end;
}
.chroma-line-no span{
    color: #b55818;
}

/* Beautify */
.chroma-alpha{
    color : #bb662d;
}
/* string */
.chroma-bravo{
    color: #3c9a3c;
    font-style: italic;
}
/* comment */
.chroma-charlie{
    color : #6d6d6d;
}
.chroma-delta{
    color : #7b7bad;
}
.chroma-echo{
    color : #3c7d82; 
}
.chroma-lima{
    color :#c15454;
}
.chroma-oscar{
    color : #8d4096;
}
.chroma-romeo{
    color : #bb2525;
}
.chroma-tango{
    color : ;
}
.chroma-victor{
    color : #bdae4d;
}
.chroma-zeus{
    color : gray;
}