.chroma{
    background: #2f1300;
    color: white;
}
.chroma-head{
    background: #5c2a08;
    color: white;
}
.chroma-copy{
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
}
.chroma-line-no span{
    color: #b55818;
}

/* Beautify */
.chroma-alpha{
    color : #bb662d;
}
/* string */
.chroma-bravo{
    color: #3c9a3c;
    font-style: italic;
}
/* comment */
.chroma-charlie{
    color : #6d6d6d;
}
.chroma-delta{
    color : #7b7bad;
}
.chroma-echo{
    color : #3c7d82; 
}
.chroma-lima{
    color :#c15454;
}
.chroma-oscar{
    color : #8d4096;
}
.chroma-romeo{
    color : #bb2525;
}
.chroma-tango{
    color : ;
}
.chroma-victor{
    color : #bdae4d;
}
.chroma-zeus{
    color : gray;
}