
.chroma{
    background: #000000;
    color: white;
}
.chroma-head{
    background: #000000;
    color: white;
}
.chroma-line-no{
    color: #b7b73a;
}
/* Beautify */

.chroma-alpha{
    color : #fb2639;
}

/* string */
.chroma-bravo{
    color : #b7b73a;
}

/* comment */
.chroma-charlie{
    color : #747474;
}
.chroma-delta{
    color : #bc5cff;
}
.chroma-echo{
    color : #FF628C; 
}
.chroma-lima{
    color : #bf6f12;
}
.chroma-oscar{
    color : #21c0bb;
}
.chroma-romeo{
    color : #bc5cff;
}
.chroma-tango{
    color : #f95656;
}
.chroma-victor{
    color : #43a6ff;
}
.chroma-zeus{
    color : gray;
}
