
.chroma{
    background: #ffffff;
    color: #303030;
}
.chroma-head{
    background: #636363;
    color: white;
}
.chroma-line-no span{
    font-style: italic;
}
/* Beautify */

.chroma-alpha{
    color: #9c4703;
    font-style: italic;
}

/* string */
.chroma-bravo{
    color: #257507;
    font-style: italic;
}

/* comment */
.chroma-charlie{
    color: #9e9d9d;
    font-style: italic;
}
.chroma-delta{
    color: rgb(46 46 160);
    font-style: italic;
}
.chroma-echo{
    color : #ce2626; 
    font-style: italic;
}
.chroma-lima{
    color: #0059a9;
    font-style: italic;
}
.chroma-oscar{
    color: #006662;
    font-style: italic;
}
.chroma-romeo{
    color : #912ebb;
    font-style: italic;
}
.chroma-tango{
    color : #f95656;
    font-style: italic;
}
.chroma-victor{
    color: #cc3a3a;
    font-style: italic;
}
.chroma-zeus{
    color : gray;
    font-style: italic;
}
