.chroma{
    background: rgb(241 241 241);
    color: rgb(22, 22, 22);
}
.chroma-head{
    background: rgb(85 85 85);
    color: white;
}

/* Beauify */
.chroma-alpha{
    color: rgb(181 72 0);
    
}
.chroma-bravo{
    color: rgb(0 150 0);
    font-style: oblique;
    
}
.chroma-charlie{
    color: rgb(150 150 226);
    
    font-style: italic;
}
.chroma-delta {
    color: rgb(234 45 45);
    
}
.chroma-romeo{
    color: rgb(9 9 236);
    
}
.chroma-tango{
    color: rgb(12, 117, 124);
    
}
.chroma-victor{
    color : rgb(203 60 220);
    
}
.chroma-zeus{
    color : #ed6464;
    
}