.chroma{
    background: rgb(241 241 241);
    color: rgb(0 0 0);
    text-shadow: 0.2px 0.1px;
}
.chroma-head{
    background: rgb(85 85 85);
    color: white;
}

/* Beauify */
.chroma-alpha {
    color: rgb(9 9 236);
}

.chroma-bravo {
    color: rgb(7 126 7);
}

/* for comment */
.chroma-charlie{
    color: rgb(124 124 139);    
    font-style: italic;
}

.chroma-delta {
    color: rgb(234 45 45);   
}

.chroma-echo {
    color: rgb(6, 98, 141);
}

.chroma-lima {
    color: rgb(182 3 3)
}

.chroma-oscar {
    color: rgb(179, 10, 103);
}
.chroma-romeo{
    color: rgb(9 9 236);
    
}
.chroma-tango{
    color: rgb(12, 117, 124);
    
}
.chroma-victor{
    color : rgb(179 3 199);
    
}
.chroma-zeus{
    color : rgb(133 3 149);
    
}