
.chroma{
    background: #5c0c39;
    color: white;
}
.chroma-head{
    background: rgb(204 8 122);
    color: white;
}
.chroma-beautify{
    padding: 0px;
}
.chroma-line-no{
    background: rgb(165 18 104);
    border-radius: 0;
    border-bottom-left-radius: 3px;
    padding: 3px 8px;
}
.chroma pre{
    padding: 3px 10px;
}
/* Beautify */

.chroma-alpha{
    color : #FF9D00;
}

/* string */
.chroma-bravo{
    color : #00d933;
}

/* comment */
.chroma-charlie{
    color : #af2c81;
}
.chroma-delta{
    color : #FFEE80;
}
.chroma-echo{
    color : #ff6262; 
}
.chroma-lima{
    color : #FFEE80;
}
.chroma-oscar{
    color : #21c0bb;
}
.chroma-romeo{
    color : #f3ff78;
}
.chroma-tango{
    color : #f95656;
}
.chroma-victor{
    color : #ffffff;
}
.chroma-zeus{
    color : gray;
}
