
.chroma{
    background: #a48e00;
    color: #021b31;
}
.chroma-head{
    background: #0b141c;
    color: white;

}
.chroma-beautify{
    border-left: 5px solid #0b141c;
}
.chroma-no-header{
    border-radius: 0;
    border-bottom-left-radius: 3px;
}
.chroma-line-no{
    font-weight: bold;
}
.chroma-copy{
    background: #806e04;
    color: white;}
/* Beautify */

.chroma-alpha{
    color : rgb(81 1 25);
    font-weight: bold;
}

/* string */
.chroma-bravo{
    color : #133d04;
    font-weight: bold;
}

/* comment */
.chroma-charlie{
    color : #584c02;
}
.chroma-delta{
    font-weight: bold;
    color: #053c41;
}
.chroma-echo{
    color : #8d0000; 
    font-weight: bold;
}
.chroma-lima{
    color : #220045;
    font-weight: bold;
}
.chroma-oscar{
    color : #131366;
    font-weight: bold;
}
.chroma-romeo{
    color: #35034a;
    font-weight: bold;
}
.chroma-tango{
    color : #682b2b;
    font-weight: bold;
}
.chroma-victor{
    color : rgb(102 8 63);
    font-weight: bold;
}
.chroma-zeus{
    color : #494949;
    font-weight: bold;
}
