.chroma{
    background: #030822;
    color: #d5d5d5;
}

.chroma-head{
    background: #030822;
    color: #d5d5d5;
}
.chroma-copy{
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
}
.chroma-line-no{
    border-radius: 0;
    border-bottom-left-radius: 3px;
    background: #030822;
}
.chroma-inline {
    background: #030822;
    color: #e27f3b;
}
.chroma-line-no span{
    color: #e27f3b;
}
/* Beautify */
.chroma-alpha{
    color : #f9934e;
}
/* string */
.chroma-bravo{
    color: #3dcc3d;
}
/* comment */
.chroma-charlie{
    color: #515a86;
    font-style: italic;
}
.chroma-delta{
    color : #9b9bf1;
}
.chroma-echo{
    color : #37c7d2; 
}
.chroma-lima{
    color :#fd7777;
}
.chroma-oscar{
    color : #db6de8;
}
.chroma-romeo{
    color : #61c1ce;
}
.chroma-tango{
    color : ;
}
.chroma-victor{
    color : #e0cf5f;
}
.chroma-zeus{
    color : gray;
}