.chroma{
    background: #252525;
    color: white;
}
.chroma-head{
    background: #252525;
    color: white;
}
.chroma-line-no{
    color: #BEF264;
}
.chroma-inline{
    background: #252525;
    color: #BEF264;
}
/* Beautify */

.chroma-alpha{
    color : #d778ff;
    
}

/* string */
.chroma-bravo{
    color : #BEF264;
    
}

/* comment */
.chroma-charlie{
    color : #A1A1AA;
    
}
.chroma-delta{
    color : #22D3EE;
    
}
.chroma-echo{
    color : #BEF264; 
    
}
.chroma-lima{
    color : #FFEE80;
    
}
.chroma-oscar{
    color : #FFEE80;
    
}
.chroma-romeo{
    color : #d778ff;
    
}
.chroma-tango{
    color : #22D3EE;
    
}
.chroma-victor{
    color : #ff9c7e;
    
}
.chroma-zeus{
    color : gray;
    
}
